body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg,#1e1e1e,#333);
    color: #f1f1f1;
    line-height: 3.0;
    padding-left: 30px;
    }
h1{text-align: center;
    color: #c5c6c7;

}    